<?xml version="1.0" encoding="UTF-8"?>
<configuration DEBUG="false">

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="log.url" value="${catalina.home}/logs" />
	<property name="log.name" value="nta" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<!-- 过滤掉低于指定级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${log.url}/${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.url}/history/${log.name}.%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 200MB -->
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%date %level %logger{55} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>

	<!-- org包下的日志,输出DEBUG级别以上日志 -->
	<logger name="org" level="debug" />
	<logger name="java.sql" level="debug" />
	<!-- netty -->
	<logger name="io.netty" level="debug" />

	<!-- 日志输出级别(总控制) -->
	<root level="debug">
		<!-- 控制台 -->
		<appender-ref ref="STDOUT" />
		<!-- 文件 -->
		<appender-ref ref="FILE" />
	</root>
</configuration>
